{% extends 'DrugApp/detail.html' %}
{% load static %}
{% block title %}
<title>Add Drug</title>
{% endblock %}

{% block banner %}
   <!-- displays this prescribers basic information at the top of the page -->
   <section class="bg-light">
    <div class="container py-4">
        <div class="row align-items-center justify-content-between">
            <div class="contact-header col-lg-4">
                <h1 class="h2 pb-3 text-primary">{{person.fname}} {{person.lname}}</h1>
                <h3 class="h4 regular-400">
                    {% if creds %}
                        <p>
                        {% for cred in creds %}
                            {{cred}}
                        {% endfor %}
                        </p>
                    {% else %}
                    No Credentials
                    {% endif %}
                </h3>
                <p class="light-300">
                    Gender: {{person.gender}}<br>
                    Location: {{person.state}}<br>
                    Specialty: {{person.specialty}}<br>
                </p>
            </div>
            <!-- default img -->
            <div class="contact-img col-lg-5 align-items-end col-md-4">
                <img src="{% static 'img/banner-img-01.svg' %}">
            </div>
        </div>
    </div>
</section>
<!-- end of prescriber info block -->
{% endblock %}

{% block stats %}
    <!-- add a new drug for the selected prescriber -->
    <section class="bg-white py-5">
        <div class="container my-4">
            <!-- displays text and dynamicly passes name -->
            <h1 class="creative-heading h2 pb-3">Add a credential for {{person.fname}}</h1>
            <div class="creative-content row py-3">
                <div class="col-md-5">
                    <!-- form for submiting the POST to add the cred -->
                    <form class="contact-form row" method="POST" action="{% url 'addCred' id=person.npi %}" role="form">
                    {% csrf_token %}
                    <!-- new cred name section -->
                    <div class="col-lg-6 mb-4">
                        <div class="">
                            <label for'cred'>Credential</label>
                            <select name="cred" id="cred" class="form-control form-control-lg light-300" required>
                                <option value="">None</option>
                                {% for cred in all_creds%}
                                <option value="{{cred.credentialcode}}">{{cred.credentialcode}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- end of cred name section -->

                    <!-- button to submit and save the info to the database -->
                    <button type="submit" class="btn rounded-pill btn-secondary text-light px-4 light-300">Save and Return</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- end of add new drug to the prescriber -->
{% endblock %}