{% extends 'DrugApp/detail.html' %}
{% load static %}
{% block banner %}
   <!-- Start Banner Hero -->
   <section class="bg-light">
    <div class="container py-4">
        <div class="row align-items-center justify-content-between">
            <div class="contact-header col-lg-4">
                <h1 class="h2 pb-3 text-primary">{{info.fname}} {{info.lname}}</h1>
                <h3 class="h4 regular-400">
                    {% if info.credentials4 %}
                        {{info.credentials1}}, {{info.credentials1}}, {{info.credentials3}}, {{info.credentials4}}
                    {% elif info.credentials3 %}
                        {{info.credentials1}}, {{info.credentials1}}, {{info.credentials3}}
                    {% elif info.credentials2 %}
                        {{info.credentials1}}, {{info.credentials1}}
                    {% elif info.credentials1 %}
                        {{info.credentials1}}
                    {% endif %}
                </h3>
                <p class="light-300">
                    Gender: {{info.gender}}<br>
                    Location: {{info.state}}<br>
                    Specialty: {{info.specialty}}<br>
                </p>
                {% comment %} <a href={% url 'deletePrescriber' id=info.npi %} class="btn rounded-pill btn-secondary text-light px-4 light-300">Delete</a> {% endcomment %}
            </div>
            <div class="contact-img col-lg-5 align-items-end col-md-4">
                <img src="{% static 'img/banner-img-01.svg' %}">
            </div>
        </div>
    </div>
</section>
<!-- End Banner Hero -->
{% endblock %}

{% block stats %}
    <!-- Start Progress -->
    <section class="bg-white py-5">
        <div class="container my-4">

            <h1 class="creative-heading h2 pb-3">Add a drug offered by {{info.fname}}</h1>

            <div class="creative-content row py-3">
                <div class="col-md-5">
                    <form class="contact-form row" method="POST" action="{% url 'addDrug' id=info.npi %}" role="form">
                    {% csrf_token %}
                    <div class="col-lg-6 mb-4">
                        <div class="">
                            <select name="drugname" id="drugname" class="form-control form-control-lg light-300">
                                <option value="hide">-- Drug --</option>
                                {% for drug in drugs%}
                                <option value="{{drug.drugname}}">{{drug.drugname}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div><!-- End Input State -->

                    <div class="col-lg-6 mb-4">
                        <div class="form-floating mb-4">
                            <input type="number" class="form-control form-control-lg light-300" id="qty" name="qty" placeholder="Quantity">
                            <label for="qty">Total Quantity</label>
                        </div>
                    </div><!-- End Input specialty -->

                    <button type="submit" class="btn rounded-pill btn-secondary text-light px-4 light-300">Save and Return</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Progress -->
{% endblock %}