{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Analytics</title>
{% endblock %}

{% block banner %}
<!-- Introductory information about the analytics page -->
<section class="bg-light w-100">
    <div class="container">
        <div class="row d-flex align-items-center py-5">
            <div class="col-lg-6 text-start">
                <h1 class="h2 py-5 text-primary typo-space-line">US Opioid Prescriptions Analytics</h1>
                <p class="light-300">
                    Here are some of our own analysis and stats to help inspire others to do some of their own learning and exploring with our data!
                    <br><br>
                    We strongly believe that many of the answers to how we can help others can be found through a careful analysis of the data. The data that we need to do amazing things is out there, it is simply a matter of finding the right ways to apply that data that remains to be solved.
                    <br><br>
                    Help us to help others, our hope is that no one will have to be alone as they go through struggles with drug dependancy. Together we can help make the world a safer place for future generations!
                </p>
            </div>
            <div class="col-lg-6">
                <img src="{% static 'img/analyticsdefault.jpeg' %}" style="border-radius: 20px;">
            </div>
        </div>
    </div>
</section>
<!-- End of intro information -->
{% endblock %}

{% block content %}
    <!-- These are where we are passing in SQL to pull up a few statistics from the database -->
    <div class="row pt-5">
        <div class="worksingle-content col-lg-8 m-auto text-left justify-content-center">
            <p class="worksingle-footer py-3 text-muted light-300">

                <!-- Question-->
                <h2 class="worksingle-heading h3 pb-3 light-300 typo-space-line">Who is currently prescribing high levels of opioids compared to other non-opioid drugs?</h2>
                <!-- Dynamic count of who currently prescribes-->
                <p class="feature-work-body text-muted light-300">
                    There are currently {{q1.count}} prescribers who only prescribe opioids.
                    Here are a list of 10:
                </p>
        
                <!-- This will display the list of 10 that we said we wanted-->
                    {% for name in q1.names %}
                        <p class="feature-work-body text-muted light-300">{{name.0}}</p>
                    {% endfor %}
                <br>

                <!-- Question-->
                <h2 class="worksingle-heading h3 pb-3 light-300 typo-space-line">What opioid drug has been prescribed the most?</h2>
                <!-- Answer, displays the highest prescribed drug-->
                {% for result in q2 %}
                    <p class="feature-work-body text-muted light-300">{{result.0}}</p>
                {% endfor %}
                <br>

                <!-- Question-->
                <h2 class="worksingle-heading h3 pb-3 light-300 typo-space-line">Which state has the highest percentage of opioid related deaths compared to total population?</h2>
                <!-- Answer, displays the highest percentage result, will show multiple if the percentage is identical for the top percentage-->
                <p class="feature-work-body text-muted light-300">
                    {% for result in q3 %}
                        <p class="feature-work-body text-muted light-300">{{result.0}}: {{result.1}}%</p>
                    {% endfor %}
                </p>
                <br>

                <!-- Question-->
                <h2 class="worksingle-heading h3 pb-3 light-300 typo-space-line">What state has the most opioid related deaths?</h2>
                <!-- Simple display of the state with the highest count for deaths-->
                <p class="feature-work-body text-muted light-300">
                    {% for state in q4 %}
                        <p class="feature-work-body text-muted light-300">{{state.state}} with {{state.deaths}} deaths</p>
                    {% endfor %}
                </p>
                <br>
            </p>
        </div>
    </div>
    <!-- End Feature Work -->
    {% endblock %}