{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Learn More</title>
{% endblock %}


{% block banner %}
<!-- Big chunck of information, this is all quoted from an external site and displayed here-->
<div id="work_single_banner" class="bg-light w-100">
    <div class="container-fluid text-light d-flex justify-content-center align-items-center border-0 rounded-0 p-0 py-5">
        <div class="banner-content col-lg-8 m-lg-auto text-center py-5 px-3">
            <h1 class="banner-heading h2 pb-5 typo-space-line-center">US Opioid Epidemic
            </h1>
            <h3 class="h4 pb-2 light-300">Introduction to the Opioid Epidemic</h3>
            <p class="banner-footer light-300">
                Opioids are a class of very strong pain relievers. They include medications such as acetaminophen/oxycodone (Percocet), morphine (Kadian), and oxycodone (OxyContin).Doctors typically prescribe opioids to relieve pain after surgery or an injury. In 2019, doctors in the United States wrote more than 153 million prescriptionsTrusted Source for these medications. While these medications are very effective pain relievers, people who take them are also prone to misuse and the development of physical and psychological dependence.
                <br><br>
                Between 8.4 and 11.6 percent of people who used opioids for 1 to 30 days developed depression within the 12 months following their opioid use. The longer they used opioids, the greater their risk of developing depression.
                <br><br>
                While opioids are effective at relieving pain, they can lead to physical dependence and addiction. Dependence means you need opioids to function well. Addiction is when you continue to use opioids even though they cause harmful effects. Opioids are believed to change brain chemistry in a way that makes you need more and more of them to get the same effect. Over time, taking increasingly larger doses leads to dependence.
                <br><br>
                <!-- Link to the page that all of this is from, should probably fix the hover display on it-->
                This information was quoted from <a href="https://www.healthline.com/health/opioid-withdrawal/mental-health-connection" class="mylink">Healthline</a>, go check out their site for more about opioids and mental health. 
            </p>
        </div>
    </div>
</div>
<!-- End of information block -->
{% endblock %}

{% block links %}
<!-- Links with images to external sites to learn more -->
<section class="container overflow-hidden py-5">
    <div class="row gx-5 gx-sm-3 gx-lg-5 gy-lg-5 gy-3 pb-3 projects">
        
        <div class="col-xl-3 col-md-4 col-sm-6 project ui branding">
            <!-- Link-->
            <a href="https://familydoctor.org/condition/opioid-addiction/" target="_blank" rel="noopener noreferrer" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                <!-- img -->
                <img class="service card-img" src="{% static 'img/familydoctor.png' %}" alt="Card image">
                <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-light">
                        <!-- Displayed Text-->
                        <p class="card-text">Learn about Opioid Addiction</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-3 col-md-4 col-sm-6 project ui branding">
            <!-- Link -->
            <a href="https://www.hopkinsmedicine.org/opioids/signs-of-opioid-abuse.html" target="_blank" rel="noopener noreferrer" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                <!-- img -->
                <img class="service card-img" src="{% static 'img/johnhopkins.jpeg' %}" alt="Card image">
                <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-light">
                        <!-- Displayed text-->
                        <p class="card-text">What can I do to help?</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-3 col-md-4 col-sm-6 project ui branding">
            <!-- Link -->
            <a href="https://www.cdc.gov/drugoverdose/featured-topics/treatment-recovery.html" target="_blank" rel="noopener noreferrer" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                <!-- img -->
                <img class="service card-img" src="{% static 'img/cdclogo.png' %}" alt="Card image">
                <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-light">
                        <!-- Displayed text -->
                        <p class="card-text">Treatment and Recovery</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-3 col-md-4 col-sm-6 project ui branding">
            <!-- link -->
            <a href="{% url 'search' %}" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                <!-- img -->
                <img class="service card-img" src="{% static 'img/database.jpeg' %}" alt="Card image">
                <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-light">
                        <!-- Displayed text -->
                        <p class="card-text">Search Our Database</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<!--End of the links section -->

<!-- information block -->
<div class="row pt-5">
    <div class="worksingle-content col-lg-8 m-auto text-left justify-content-center">
        <h2 class="worksingle-heading h3 pb-3 light-300 typo-space-line">An analysis of the U.S. Opioid Epidemic</h2>
        <h1 class="feature-work-heading h2 py-3 semi-bold-600">U.S. Opioid Prescriptions</h1>
        <p class="worksingle-footer py-3 text-muted light-300">
            The opioid crisis is devastating communities across America. The latest statistics indicate that the total yearly overdose deaths due to opioids reached a new high of 70,237 in 2017. In October 2017, President Trump declared the opioid crisis a public health emergency.
            <br><br>
            Currently no system exists that allows government officials and prescribers to simply view the volume of prescriptions that are taking place overall. So we have created this site to help adress that problem. We have a database of information about prescribers and drugs. The data are sorted and accessable so that all parties can freely analyze the data themselves and seek understanding. Our hope is that through this understanding we can all work to make the world a better place!
            <br><br>
            We also have taken the time to provide links to other learning material to help everyone better understand addiction, recovery, and how they can best help those around them.
        </p>
    </div>
</div>
<!-- End of information block -->

{% endblock %}
