{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Search</title>
{% endblock %}

{% block banner %}
<!-- Search page introduction -->
    <section class="service-wrapper py-3">
        <div class="container-fluid pb-3">
            <div class="row">
                <h2 class="h2 text-center col-12 py-5 semi-bold-600">Search</h2>
                <div class="service-header col-2 col-lg-3 text-end light-300">
                    <i class="material-icons" style="font-size:36px">search</i>
                </div>
                <div class="service-heading col-10 col-lg-9 text-start float-end light-300">
                    <h2 class="h3 pb-4 typo-space-line">Find a prescriber or a drug</h2>
                </div>
            </div>
            <p class="service-footer col-10 offset-2 col-lg-9 offset-lg-3 text-start pb-3 text-muted px-2">
                Choose below to search for a prescriber or a drug to get a list matching the search key. <br>
                Select all to get a list of all prescribers or all drugs
            </p>
        </div>
        <!-- End of introduction info -->

        <!-- Allows the user to switch between searching for a drug name or prescriber name -->
        <div class="service-tag py-5 bg-secondary">
            <div class="col-md-12">
                <ul class="nav d-flex justify-content-center">
                    <li class="nav-item mx-lg-4">
                        <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-300 active" onclick="prescriber()">Prescribers</a>
                    </li>
                    <li class="filter-btn nav-item mx-lg-4">
                        <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-300" onclick="drug()">Drug</a>
                    </li>
                </ul>
                <!-- Form for the POST method to search the database -->
                <div class="col-lg-6 mx-auto my-4 p-3">
                    <form action="{% url 'search' %}" method="post" id='searchForm'>
                    {% csrf_token %}
                    <div class="input-group py-3">
                        <input type="hidden" id="choice" name="choice">
                        <input name="key" type="text" class="form-control form-control-lg rounded-pill rounded-end" id="key" placeholder="Search a name...">
                        <button class="btn btn-secondary text-white btn-lg rounded-pill rounded-start px-lg-4" 
                        style="background-color: #9696a6; background-border: #9696a6;" type="submit">Search</button>
                    </div>
                    </form>
                    <!-- Add prescriber button -->
                        <a href="{% url 'addPrescriber' %}" class="btn rounded-pill btn-outline-light px-4 me-4 light-300">Add a Prescriber</a>
                    <!-- Advanced Search botton -->
                            <a href="{% url 'advsearch' %}" class="btn rounded-pill btn-outline-light px-4 me-4 light-300">Advanced Search</a>
                        <br><br>
                        <h4 id='msg' name='msg'>{{msg}}<h4>
                </div>
            </div>
        </div>
    </section> 
<!-- End of search page functionality -->
{% endblock %}

{% block links %}
<section class="container overflow-hidden py-5">
    
    <div class="row gx-5 gx-sm-3 gx-lg-5 gy-lg-5 gy-3 pb-3 projects">
        {% comment %} TODO: Put this in a for loop with the data {% endcomment %}
        <!-- Displays all of the returned results from the search -->
        {% if prescriber %}
            {% for info in data %}
                <div class="col-xl-3 col-md-4 col-sm-6 project ui branding">
                    <a href="{% url 'detailPerson' id=info.npi %}" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                        <img class="service card-img" src="{% static 'img/user_img.png' %}" alt="Card image">
                        <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                            <div class="service-work-content text-left text-light">
                                <p class="card-text">{{info.fname}} {{info.lname}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        <!-- End of the displayed info for prescribers -->
        
        <!-- this will happen if we are searching drug name instead -->
        {% else %}
            {% for info in data %}
            <div class="col-xl-3 col-md-4 col-sm-6 project ui branding">
                <a href="{% url 'detailDrug' id=info.drugid %}" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="service card-img" src="{% static 'img/drug_img.jpeg' %}" alt="Card image">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="service-work-content text-left text-light">
                            <p class="card-text">{{info.drugname}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        <!-- End of displayed info for drugs -->
        {% endif %}
    </div>
</section>
<!-- End of returned results section --> 
{% endblock %}

<!-- Javascript functions for interating through the information and returning results -->
{% block content %}
<script type="text/javascript">
    const form  = document.getElementById('searchForm');
    document.getElementById("choice").value = "Prescriber";

    function prescriber() {
        document.getElementById("choice").value = "Prescriber";
        console.log(document.getElementById("choice").value);
    }

    function drug() {
        document.getElementById("choice").value = "Drug";
        console.log(document.getElementById("choice").value);
    }

    form.addEventListener('submit', (event) => {
        let key = form.elements['key'].value;
        let choice = form.elements['choice'].value;
        console.log(choice);
        form.submit();
    });
</script>
{% endblock %}
<!-- end of javascript functions -->