{% extends 'DrugApp/detail.html' %}
{% load static %}
{% block banner %}
   <!-- Start Banner Hero -->
   <section class="bg-light">
    <div class="container py-4">
        <div class="row align-items-center justify-content-between">
            <div class="contact-header col-lg-4">
                <h1 class="h2 pb-3 text-primary">{{info.fname}} {{info.lname}}</h1>
                <h3 class="h4 regular-400">
                    {% if info.credentials4 %}
                        {{info.credentials1}}, {{info.credentials1}}, {{info.credentials3}}, {{info.credentials4}}
                    {% elif info.credentials3 %}
                        {{info.credentials1}}, {{info.credentials1}}, {{info.credentials3}}
                    {% elif info.credentials2 %}
                        {{info.credentials1}}, {{info.credentials1}}
                    {% elif info.credentials1 %}
                        {{info.credentials1}}
                    {% endif %}
                </h3>
                <p class="light-300">
                    Gender: {{info.gender}}<br>
                    Location: {{info.state}}<br>
                    Specialty: {{info.specialty}}<br>
                </p>
                <a href={% url 'deletePrescriber' id=info.npi %} class="btn rounded-pill btn-secondary text-light px-4 light-300">Delete</a>
            </div>
            <div class="contact-img col-lg-5 align-items-end col-md-4">
                <img src="{% static 'img/banner-img-01.svg' %}">
            </div>
        </div>
    </div>
</section>
<!-- End Banner Hero -->
{% endblock %}

{% block stats %}
    <!-- Start Progress -->
    <section class="bg-white py-5">
        <div class="container my-4">

            <h1 class="creative-heading h2 pb-3">Drugs</h1>

            <div class="creative-content row py-3">
                <div class="col-md-5">
                    <p class="text-muted col-lg-8 light-300">
                        List of drugs offered by {{info.fname}}
                        <br><br>
                        **All bars represent the percent of {{info.fname}}'s prescriptions of that drug compared to the total prescriptions given by {{info.fname}}
                    </p>
                </div>
                <div class="creative-progress col-md-7">

                    {% for drug in drugs%}
                    <div class="row mt-4 mt-sm-2">
                        <div class="col-6">
                            <h4 class="h5">{{drug.drugname}}</h4>
                        </div>
                        <div class="col-6 text-right"><button type="submit" class="btn rounded-pill btn-secondary text-light px-4 light-300">Add Prescriber</button></div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{drug.percent}}%" aria-valuenow="{{drug.percent}}" aria-valuemin="0" aria-valuemax="{{drug.sum}}"></div>
                    </div>
                    {{info.fname}}'s total: {{drug.qty}} ({{drug.percent}}%) | Average quantity: {{drug.avg}} 
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
    <!-- End Progress -->
{% endblock %}